.root{
    //-fx-background-color: #E8E8E8;
    //-fx-font-size: 44pt;
}
/*.button{
    -fx-alignment: center-left;
    -fx-font-size: 10.5pt;
}*/
/*.label{
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
}*/
#boldText{
    -fx-font-weight: bold;
}
#smallerText{
    -fx-font-weight: normal;
    -fx-font-size: 9pt;
}
#midText{
    -fx-font-size: 10.5pt;
}
#alignCenter{
    -fx-alignment: center;
    -fx-font-size: 10.5pt;
    -fx-background-radius: 6;
}
#color{
    -fx-background-color: #EB251A;
    -fx-border-color: #FFFFFF;
}
#colorDiagonal{
    -fx-background-color: #A9A9A9;
    -fx-border-color: #FFFFFF;
}
#color2 {
  all: unset;
}
#comboColor{
    -fx-text-fill: red;
    -fx-font-size: 9pt;
}
#comboColor2{
    -fx-text-fill: blue;
    -fx-font-size: 9pt;
}
#title{
    -fx-font-weight: bold;
    -fx-font-size: 20;
}
#titleRez{
    -fx-font-weight: bold;
    -fx-font-size: 20;
}
#rez{
    -fx-font-weight: bold;
    -fx-font-size: 12;
}
.table-view .scroll-bar:vertical > .increment-button,
.table-view .scroll-bar:vertical > .decrement-button,
.table-view .scroll-bar:vertical > .increment-arrow,
.table-view .scroll-bar:vertical > .decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}